*{
    padding: 0;
    margin: 0;
    background-color: #1A0533;
    /* background-color: black; */
}

div{
    margin: 0 auto;
    width: 800px;
    height: 600px;
}

canvas{
    background-color: #1A0533;
}