*{
    padding: 0;
    margin: 0;
    /* background-color: #0F0C2B; */
    /* background-color: #1A0533; */
    /* background-color: black; */
}

body{
    background-color: #0F0C2B;
}

div{
    margin: 0 auto;
    width: 900px;
}

canvas{
    background-color: #1A0533;
}